[submodule "lib/forge-std"]
	path = lib/forge-std
	url = git@github.com:foundry-rs/forge-std.git
	
[submodule "lib/pendle-sy"]
	path = lib/pendle-sy
	url = git@github.com:pendle-finance/pendle-sy.git
	branch = mellow/rsteth

[submodule "lib/pendle-core"]
	path = lib/pendle-core
	url = git@github.com:pendle-finance/pendle-core-v2-public.git
	branch = main
